*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* This sets the color of the cards on a 360 degree color wheel. */
  /* The background is the "opposite" color */
  --theme-color: 150;
}

html,
body {
  height: 100dvh;
  background-image: radial-gradient(
    circle,
    oklch(50% 0.2 calc(var(--theme-color) + 180)) 200px,
    oklch(40% 0.08 240) 100%
  );
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  justify-content: center;
  align-items: center;
}

.card-component {
  position: relative;
  height: 500px;
  width: 100cqw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  container-type: size;
  container-name: card-component;
}

/* This styles all of the individual cards. */
.card-component > * {
  /* Settings that can be adjusted based on your needs */
  /* no width specified, using golden ratio to size cards off of height */
  aspect-ratio: auto 1 / 1.6;
  /* softness of the edges of the cards */
  border-radius: 25px;
  /* controls angle of the arc that the cards can spread across. Somewhere between 20 and 50 degrees */
  /* Arc spread isn't what I thought it was */
  --arc-spread: 50deg;
  /* "depth" of cards... How much smaller are the ones in the back (less than 10% is best)*/
  --card-depth: 5%;
  /* height of a card, in relation to their container, somewhere in the 50cqh range seems to work */
  --height: 100cqh;

  /* positions cards along a circular path and rotates them according to their position around that arc */
  position: absolute;
  /* compensates for the transform */
  top: calc(var(--radius-vertical) + var(--height) / 2);
  height: var(--scale-from-center-height);

  /* Internal calculations */
  /* Total number of cards in the component (less than 15ish) */
  --total-siblings: sibling-count();
  /* index of current card */
  --index: sibling-index();
  /* cards take up the entire width of their container (mostly) */
  /*TODO* Needs to act with --arc-spread/ */
  --radius-horizontal: 100cqw;
  /* calculate unified distance from center, no abs() to keep negative numbers for rotation calc */
  --cards-from-center: calc(var(--index) - (var(--total-siblings) + 1) / 2);
  /* defines the amount of angle each card is going to be rotated */
  --offset-angle: calc(var(--arc-spread) / var(--total-siblings));
  /* Calculate the angle for each card from the top center which is 270deg */
  --angle: calc(var(--cards-from-center) * var(--offset-angle) + 270deg);
  /* Calculate the z-index for each card so edges are underneath */
  --layer: calc(var(--total-siblings) - abs(var(--cards-from-center)));
  /* large imaginary radius for smooth curve of cards adjusted by card height to create a smooth bottom curve*/
  --radius-vertical: calc(
    var(--radius-horizontal) + (var(--height) - var(--scale-from-center-height))
  );
  /* reduces size of cards as they get further from the center */
  --scale-from-center-height: calc(
    var(--height) - abs(var(--cards-from-center)) * var(--card-depth)
  );
  /* Transitions the colors of the cards */
  background-color: oklch(
    calc(var(--index) * 7% + 30%) 0.15 var(--theme-color)
  );

  /* Puts the cards on the curve */
  transform: 
    /* Moves the cards up on the "curve". Moves them over 0 and up half of their height*/ translate(
      0%,
      -50%
    )
    translate(
      /* --angle is the angle of each card. --radius-horizontal is the total
      width of the control */
      calc(cos(var(--angle)) * var(--radius-horizontal)),
      calc(sin(var(--angle)) * var(--radius-vertical))
    )
    rotate(calc(var(--angle) - 270deg));

  transition:
    transform 0.3s
      linear(
        0,
        1 44.7%,
        0.898 51.8%,
        0.874 55.1%,
        0.866 58.4%,
        0.888 64.3%,
        1 77.4%,
        0.98 84.5%,
        1
      ),
    z-index 0.3s;
  transition-behavior: allow-discrete;

  z-index: var(--layer);
}
/* Styles all of the individual cards, on HOVER */
/* would like to adjust hover state from transistion to animation, need to fine tune card movement */
.card-component > *:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);

  transform: translate(0%, -45%)
    translate(
      calc(cos(var(--angle)) * var(--radius-horizontal)),
      calc(sin(var(--angle)) * var(--radius-vertical) - 40px)
    )
    scale(1.25)
    rotate(
      calc(
        var(--angle) - 270deg - var(--cards-from-center) * var(--offset-angle) /
          1.5
      )
    );
  cursor: pointer;
  z-index: 100;

  /* hover state for the card to the right of hovered */
  + * {
    transform: translate(0%, -45%)
      translate(
        calc(cos(var(--angle)) * var(--radius-horizontal) + 60px),
        calc(sin(var(--angle)) * var(--radius-vertical) - 20px)
      )
      rotate(calc(var(--angle) - 270deg - var(--offset-angle) / 2));

    /* hover state for the card two positions to the right of hovered */
    + * {
      transform: translate(0%, -45%)
        translate(
          calc(cos(var(--angle)) * var(--radius-horizontal) + 60px),
          calc(sin(var(--angle)) * var(--radius-vertical))
        )
        rotate(calc(var(--angle) - 270deg - var(--offset-angle) / 3));
    }
  }
}

/* hover state for the card to the left of hovered  */
.card-component > *:has(+ *:hover) {
  transform: translate(0%, -45%)
    translate(
      calc(cos(var(--angle)) * var(--radius-horizontal) - 60px),
      calc(sin(var(--angle)) * var(--radius-vertical) - 20px)
    )
    rotate(calc(var(--angle) - 270deg + var(--offset-angle) / 2));
}

/* hover state for the card two positions to the left of hovered */
.card-component > *:has(+ * + *:hover) {
  transform: translate(0%, -45%)
    translate(
      calc(cos(var(--angle)) * var(--radius-horizontal) - 60px),
      calc(sin(var(--angle)) * var(--radius-vertical))
    )
    rotate(calc(var(--angle) - 270deg + var(--offset-angle) / 3));
}
